html {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(255, 242, 242);
}

.container {
  margin-top: 5.25rem;
}

.container h3 {
  font-weight: bold;
  font-size: 2.5rem;
}

.para {
  color: rgb(74, 74, 74);
}

.rules {
  font-weight: bold;
}

.card {
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
  color: rgb(204, 204, 204);
  background-color: rgb(153, 153, 153);
  height: 12.5rem;
  border: 4px solid #ffffff;
  border-radius: 8px;
}
